<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ganadapp</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>

<header class="topbar">
    <div class="logo-container">
        <img src="src/static/img/logo.png" alt="Logo"> <span>Ganadapp</span>
    </div>
    <nav class="menu">
        <button><img src="src/static/img/icon-inicio.png"> Inicio</button>
        <button><img src="src/static/img/icon-panel.png"> Panel Principal</button>
        <button><img src="src/static/img/icon-productores.png"> Panel de Productores</button>
        <button><img src="src/static/img/icon-animales.png"> Gestión de Animales</button>
        <button><img src="src/static/img/icon-vacunacion.png"> Vacunación</button>
        <button><img src="src/static/img/icon-stock.png"> Stock de Insumos</button>
        <button><img src="src/static/img/icon-trazabilidad.png"> Trazabilidad</button>
        <button><img src="src/static/img/icon-reportes.png"> Reportes</button>
    </nav>
</header>

<section class="hero">
    <div class="hero-content">
        <h1>Ganadapp: Gestión Inteligente de Ganado</h1>
        <p>Centralice el control de su hacienda, productores, salud y trazabilidad.</p>
        <button class="btn-hero">Ver Animales ></button>
    </div>
</section>

<main class="grid-cards">
    <div class="card"><h3>Inicio de Sesión</h3><p>Inicie sesión de forma segura del stock y sus productos.</p><button>Abrir</button></div>
    <div class="card"><h3>Panel Principal</h3><p>Centralice el conoctos, clientes, eventatales depitas.</p><button>Abrir</button></div>
    <div class="card"><h3>Productores</h3><p>Gestione sus panel de productores y tags.</p><button>Abrir</button></div>
    <div class="card"><h3>Animales</h3><p>Gestione sus animales animales y razunitados.</p><button>Abrir</button></div>
    <div class="card"><h3>Vacunación</h3><p>Gestione sus vacunacön y vacunación.</p><button>Abrir</button></div>
    <div class="card"><h3>Stock Insumos</h3><p>Centalisivs Stock Insumos palleta de Insumos.</p><button>Abrir</button></div>
    <div class="card"><h3>Trazabilidad</h3><p>Concaine sus trazabilidad y antanetraltarios.</p><button>Abrir</button></div>
    <div class="card"><h3>Reportes</h3><p>Administre sus reportes y consulte su ri reportes.</p><button>Abrir</button></div>
</main>

<footer>
    © 2026 Ganadapp - Soluciones de Gestión Ganadera - Todos los derechos reservados
</footer>

</body>
</html>